Repository timDeHof/next-3d-portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, bash -c 'tsc --noEmit'

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --cache --fix"],
  "*.{ts,tsx}": "bash -c 'tsc --noEmit'",
  "*.{js,jsx,ts,tsx,css,md}": "prettier --write"
}

chore(package.json): add prettier formatting scripts feat(package.json): add dompurify and react-toastify as dependencies chore(package.json): add @next/eslint-plugin-next as a dev dependency
  package-lock.json
  package.json
Due: none

refactor(assets/index.js): change import statements to use single quotes instead of double quotes
  src/assets/index.js
  src/components/Loader.tsx
  src/components/Navbar.tsx
  src/components/feedbacks.jsx
  src/components/feedbacks.tsx
  src/components/footer.jsx
  src/components/footer.tsx
  src/components/index.ts
  src/components/layout.tsx
  src/components/pageTitle.jsx
  src/components/pageTitle.tsx
  src/components/socialIcons.jsx
  src/components/socialIcons.tsx
Due: prettier --write, eslint --cache --fix, bash -c 'tsc --noEmit'

chore(next-seo.config.ts): update title, description, and canonical URL in next-seo.config.ts
  next-seo.config.ts
Due: prettier --write, eslint --cache --fix, bash -c 'tsc --noEmit'

chore: add .prettierrc.json file with Prettier configuration
  .prettierrc.json
Due: none

chore(.gitignore): add .eslintcache to ignore list
  .gitignore
Due: none

chore: updated devto cache file
  .dev-to-cache.json
Due: none

chore([slug].tsx): remove unused import of DOMPurify refactor([slug].tsx): rearrange class names in article section for better readability
  src/pages/blog/[slug].tsx
Due: prettier --write, eslint --cache --fix, bash -c 'tsc --noEmit'

feat(planet): add scene-transformed.glb file
  public/planet/scene-transformed.glb
Due: none

chore: updated eslint rules
  .eslintrc.json
  src/components/canvas/Computers.tsx
  src/components/canvas/Earth.tsx
  src/pages/contact.tsx
Due: prettier --write, eslint --cache --fix, bash -c 'tsc --noEmit'

chore: tranformed desktop pc into a jsx
  public/desktop_pc/scene-transformed.glb
  src/components/canvas/Computer.tsx
Due: prettier --write, eslint --cache --fix, bash -c 'tsc --noEmit'

refact:made event listeners passive to improve scrolling performance
  src/components/canvas/Computers.tsx
Due: prettier --write, eslint --cache --fix, bash -c 'tsc --noEmit'

refact:added mobile changes to the menu
  src/components/Navbar.tsx
Due: prettier --write, eslint --cache --fix, bash -c 'tsc --noEmit'

chore:add accessibility to dark mode button
  src/components/Navbar.tsx
Due: prettier --write, eslint --cache --fix, bash -c 'tsc --noEmit'

chore:add locale seo meta tags
  next-seo.config.ts
  src/pages/about.tsx
  src/pages/blog.tsx
  src/pages/contact.tsx
  src/pages/experience.tsx
  src/pages/work.tsx
Due: prettier --write, eslint --cache --fix, bash -c 'tsc --noEmit'

chore: purge unused css
  package-lock.json
  package.json
  postcss.config.js
  src/styles/build.css
Due: prettier --write, eslint --cache --fix

feat(components): add ServiceCard component
  src/components/index.ts
  src/components/serviceCard/ServiceCard.module.css
  src/components/serviceCard/ServiceCard.tsx
  src/components/serviceCard/index.ts
  src/pages/about.tsx
Due: prettier --write, eslint --cache --fix, bash -c 'tsc --noEmit'

chore: update devto cache json file
  .dev-to-cache.json
Due: none

chore(eslint.yaml): add eslint configuration for V45-Tier3-Team-45 repository feat(eslint.yaml): add GitHub Actions workflow for running eslint and prettier
  .github/eslint.yaml
Due: none

chore(eslint.yaml): update repository name from "V45-Tier3-Team-45" to "3d-portfolio"
  .github/eslint.yaml
Due: none

Create eslint.yml
  .github/workflows/main.yml
Due: none

chore(eslint.yaml): remove eslint workflow configuration file
  .github/eslint.yaml
Due: none

chore(main.yml): add push trigger for main and development branches in addition to pull_request trigger
  .github/workflows/main.yml
Due: none

chore(main.yml): update eslint-plus-action to version 3.4.2
  .github/workflows/main.yml
Due: none

chore(package.json): update eslint version to 8.48.0
  package.json
Due: none

chore(main.yml): update eslint action to use npm run lint script chore(main.yml): comment out unused eslint action
  .github/workflows/main.yml
Due: none

chore(main.yml): remove commented out eslint-plus-action step
  .github/workflows/main.yml
Due: none

chore(main.yml): add missing step to run eslint in the workflow
  .github/workflows/main.yml
Due: none

chore(next.config.js): enable production browser source maps Enabling production browser source maps allows for better debugging and error tracking in a production environment.
  next.config.js
Due: prettier --write, eslint --cache --fix

chore(index.tsx): reduce image quality to 80% The image quality for the background image is reduced to 80% to optimize the page loading speed without significant loss in visual quality.
  src/pages/index.tsx
Due: prettier --write, eslint --cache --fix, bash -c 'tsc --noEmit'

chore(next-seo.config.ts): refactor SEO configuration feat(next-seo.config.ts): add additional link and meta tags add(public): add favicon and other necessary files for SEO
  next-seo.config.ts
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/browserconfig.xml
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/mstile-150x150.png
  public/mstile-70x70.png
  public/safari-pinned-tab.svg
  public/site.webmanifest
Due: prettier --write, eslint --cache --fix, bash -c 'tsc --noEmit'

chore(next.config.js): disable React strict mode The reactStrictMode option in next.config.js has been changed from true to false. This change disables React strict mode in the Next.js application.
  next.config.js
Due: prettier --write, eslint --cache --fix

feat(components): add Footer, Loader, Navbar, and PageTitle components
  src/app/components/Footer.tsx
  src/app/components/Loader.tsx
  src/app/components/Navbar.tsx
  src/app/components/pageTitle.tsx
Due: prettier --write, eslint --cache --fix, bash -c 'tsc --noEmit'

feat(canvas): add new canvas components
  src/app/components/canvas/Ball.tsx
  src/app/components/canvas/Computers.tsx
  src/app/components/canvas/Earth.tsx
  src/app/components/canvas/Stars.tsx
  src/app/components/canvas/index.js
Due: prettier --write, eslint --cache --fix, bash -c 'tsc --noEmit'

feat(components): add SectionWrapper and StarWrapper higher-order components
  src/app/components/hoc/SectionWrapper.tsx
  src/app/components/hoc/StarWrapper.tsx
Due: prettier --write, eslint --cache --fix, bash -c 'tsc --noEmit'

feat(contact/page.tsx): add contact page component feat(experience/page.tsx): add experience page component
  src/app/contact/page.tsx
  src/app/experience/page.tsx
Due: prettier --write, eslint --cache --fix, bash -c 'tsc --noEmit'

feat(assets): add index.js file to export asset images
  src/app/lib/assets/index.js
Due: prettier --write, eslint --cache --fix

chore: moved to be in app router
  src/app/lib/constants/index.js
Due: prettier --write, eslint --cache --fix

chore: moved assets to be under app router
  src/app/lib/assets/company/fullstack.png
  src/app/lib/assets/company/polyhistor.png
  src/app/lib/assets/company/unf.svg
  src/app/lib/assets/linkedin.svg
  src/app/lib/assets/logo.png
  src/app/lib/assets/logo.svg
  src/app/lib/assets/menu.svg
  src/app/lib/assets/moviewatchlist.jpg
  src/app/lib/assets/smartbrain.jpg
  src/app/lib/assets/tech/appwrite.svg
  src/app/lib/assets/tech/atlassian_jira-icon.svg
  src/app/lib/assets/tech/css.png
  src/app/lib/assets/tech/cypress.svg
  src/app/lib/assets/tech/docker.png
  src/app/lib/assets/tech/express.svg
  src/app/lib/assets/tech/figma.png
  src/app/lib/assets/tech/firebase.svg
  src/app/lib/assets/tech/git.png
  src/app/lib/assets/tech/html.png
  src/app/lib/assets/tech/javascript.png
  src/app/lib/assets/tech/jest.svg
  src/app/lib/assets/tech/mongodb.png
  src/app/lib/assets/tech/nextjs.svg
  src/app/lib/assets/tech/nodejs.png
  src/app/lib/assets/tech/postgresql.svg
  src/app/lib/assets/tech/reactjs.png
  src/app/lib/assets/tech/redux.png
  src/app/lib/assets/tech/storybook.svg
  src/app/lib/assets/tech/tailwind.png
  src/app/lib/assets/tech/threejs.svg
  src/app/lib/assets/tech/typescript.png
  src/app/lib/assets/web.png
  src/app/lib/assets/web.svg
Due: none
